<!DOCTYPE html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="/home/devasc/MIDTERM/static/style.css"/>
</head>
<body>
    <h1>Registration Form</h1>
    <form>
        <div class = "form">
            <label>Firstname: </label>
            <input type="text" placeholder="First Name" name="Fname">
            <label>Lastname: </label>
            <input type="text" placeholder="Last Name" name="Lname">
            <label>Username: </label>
            <input type="text" placeholder="User Name" name="Uname">
            <label>Password: </label>
            <input type="text" placeholder="Enter Password" name="password">
            <label>Password: </label>
            <input type="text" placeholder="Re-Enter Password" name="password">
            <button type="button" class="reg">Register</button>
            <center><p>already have an account? <a href="login.html"> login </a></p></center>
        </div>
    </form>
</body>
</html>